@import 'styles/_variables.scss';

.ContentPad-container {
  background: $color_secondary;
  border-bottom: .2rem solid darken($color_secondary, 5%);
  border-radius: .5rem;
  box-shadow: $shadow_secondary;
  padding: 3rem;
  overflow: hidden;

  @media (orientation: portrait) {
    padding: 3rem;
    width: 20rem;
  }
}

