@import 'styles/_variables.scss';

.LoginForm-pad {
  // todo apply a proper fix
  transform: scale(1.3);
  @media (orientation: portrait) {
    padding: 2rem;
  }
}

.LoginForm-warning--message {
  @media (orientation: portrait) {
    font-size: 1rem;
  }
}

.LoginForm-warning--headline {
  color: white;
  font-size: 2rem;
  font-weight: bolder;

  display: inline-block;
  margin-bottom: 2rem;
}

.LoginForm-container {
  position: relative;
  z-index: 10;
}

.LoginForm-backdrop {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;

  background-color: #35383b;
}
