@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'styles/_variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 75%;

  @media (orientation: portrait) {
    font-size: 3vw;
  }
}

body {
  background: $color_primary;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: $color_font_primary;
}

p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  color: $color_font_primary;
}
