$_local_viewport_height: 60rem;

.ImageViewer-container {
  position: sticky;
  top: 8rem;
  width: 100%;
  height: $_local_viewport_height;

  .ImageViewer-viewport {
    position: relative;
    height: $_local_viewport_height;

    border: 0;

    .ImageViewer-imgbg {
      height: $_local_viewport_height;
      width: 100%;
      filter: blur(5px) brightness(0.3);
      object-fit: cover;
    }

    .ImageViewer-img {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform: translateX(-50%);
      height: $_local_viewport_height;
    }
  }

  .ImageViewer-controls {
    margin-top: 3rem;
    height: 5rem;
  }
}
