@import 'styles/_variables.scss';

.ProductViewPage-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6fr .5fr;
  grid-column-gap: 5rem;
  padding: 4rem;
  width: 100vw;
  min-height: 100vh;
  margin-top: $nav_height;

  .ProductViewPage-imgviewer {
    grid-column: 1/2;
  }

  .ProductViewPage-infoblock {
    padding: 2rem;
    grid-column: 2/3;
    grid-row: 1/3;

    .ProductViewPage-list {
      color: $color_font_primary; 
      font-size: 1.5rem;
      margin-left: 3rem;

      li {
        margin: 1rem 0;
      }
    }
  }
}
