@import 'styles/_variables.scss';

.NavBar-container {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100vw;

  display: flex;
  align-items: stretch;
  justify-content: flex-end;

  height: $nav_height;

  background: darken($color_primary, 5%);
  border-bottom: .2rem darken($color_primary, 10%) solid;
  box-shadow: $shadow_primary;

  .NavBar-item {
    display: flex;
    align-items: center;
    padding: 0 2rem;

    font-size: 1.5rem;
    color: $color_font_primary;

    user-select: none;

    &.justify-start {
      margin-right: auto;
    }
  }

  .NavBar-navlink {
    @extend .NavBar-item;

    text-decoration: none;
    padding: 0 4rem;
    transition: background .25s ease;

    &:hover {
      background: darken($color_secondary, 5%);
    }

    &.active {
      border-top: .2rem transparent solid;
      border-bottom: .2rem $color_accent_primary solid;
    }
  }

  .NavBar-button {
    @extend .NavBar-navlink;

    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
  }
}
